body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: lightgray !important;
}


.pokemonCard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    background-color: white;
    border-radius: 20px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 8px;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
}

#allCards {
    margin-top: 24px;
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;

}

